#home{
  background:url(https://res.cloudinary.com/dhchnmb6i/image/upload/v1710344249/xhjioegnpxvozjs2gyqd.png);
  background:rgb(255, 255, 255);
  margin:0 ;
  opacity: 100%;
}

*{
  margin: 0;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}

.titulo{
/* Hola Xaca */

position: absolute;
width: 216px;
height: 16px;
left: 88px;
top: 60px;

font-family: 'Tw Cen MT';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 40px;
/* or 167% */
display: flex;
align-items: center;
text-transform: capitalize;

color: #000000;
}

.icon{
/* Iconos perfil */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: auto;
height: auto;
left: 880px;
top: 48px;
}

.icon2{
/* Iconos perfil */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
gap: 8px;

position: absolute;
width: auto;
height: auto;
left: 936px;
top: 52px;
}

.items{
  left: 48px;
  display:grid;
  grid-auto-flow:column;
  grid-auto-columns:10%;
  position: absolute;
  margin-left: 24px;
  margin-right: 24px;
  top: 105px;
  column-gap: 20px;
  overflow-x: scroll;
  white-space: nowrap;
}

.items a {
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  text-decoration: none;
}

.items a:hover {
  background-color: #141414;
}

.item-name{
  color: #000000;
 text-align: center;
  margin: auto;
  font-family: 'Tw Cen MT';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
}

.buscar{
  position: absolute;
  top: 200px;
  left: 940px;
  z-index: 4;
}

.filtrar{
  position: absolute;
  top: 196px;
  left: 60px;
  z-index: 4;
}

.buscador input{
  justify-content: center;
  align-items: center;
  border-radius: 24px;

  text-align: center;
  font-family: 'Tw Cen MT';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;

  left: 48px;
  position: absolute;
  top: 188px;
  height: 40px;
  width: 928px;
  background:rgb(255, 239, 219);
  z-index: 3;
}

.main{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  position: absolute;
  top: 272px;
  left: 68px;
  border-radius: 24px;
  width: 900px;
  height: 900px;
  text-align: center;
  font-family: 'Tw Cen MT';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  background: #e6e6e6;
  overflow-y:scroll;
  white-space: nowrap;
}

.main h3{
  text-align: left;
  margin-left: 15px;
  margin-top: 15px;
  font-size: 46px;
}

.main h4{
  text-align: right;
  margin-right: 25px;
  margin-top: 15px;
  font-size: 36px;
  color: #3a3a3a;
}

div.content{
  top: 50px;
  margin-left: 10px;
  margin-top: 20px;
  padding: 10px;
  justify-items: center;
  align-items: center;
  width: 370px;
  height: 182px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
}

div.content img{
  position: relative;
  top: -5px;
  
  width: 360px;
  height: 140px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

.cont2{
  position: absolute;
  top: 30px;
  border-radius: 30px;
}

.cont3{
  position: absolute;
  top: 30px;
  border-radius: 30px;
}

.menu{
  background:rgb(0, 0, 0);
  position: absolute;
width: 1024px;
height: 140px;
}

.m2{
  top:1226px
}

.menu nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 200px;
  
  position: absolute;
  width: 325px;
  height: 32px;
  left: 30px;
  top: 55px;
}

.menu svg{
  width: 88px;
  height: 88px;
}

.main2{
  width: 1024px;
  height: 1226px;
  background:rgb(255, 255, 255);
  opacity: 100%;
}

.back{
  display: flex;
flex-direction: row;
align-items: center;

position: absolute;
width: 32px;
height: 32px;
left: 24px;
top: 62px;
}

.main2 h4{
  position: absolute;
  text-align: center;
  margin-right: 25px;
  margin-top: 15px;
  font-size: 40px;
  color: #e6e6e6;
}

.main2{
  display: grid ;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  position: absolute;
  left: 68px;
  width: 900px;
  height: 1160px;
  text-align: center;
  font-family: 'Tw Cen MT';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  background: #e6e6e6;
  overflow-y:scroll;
  white-space: nowrap;
}

.main2 h3{
  position: absolute;
  text-align: center;
  margin-left: 25px;
  margin-top: 15px;
  font-size: 40px;
  color: #000000;
}

.publi{
  position: absolute;
  top: 990px;
  left: 710px;
}

.publi svg{
  width: 150px;
  height: 150px;
}

.inpu{
  width: 480px;
  background-color: #dddddd;
  
}

#misi{
  position: relative;
  width: 1024px;
  height: 1226px;
  background:rgb(255, 255, 255);
  opacity: 100%;
  
}

#misi h1{
  position: absolute;
  text-align: center;
  margin-left: 36px;
  margin-top: 15px;
  font-size: 40px;
  color: #000000;
}

#misi p{
  position: absolute;
  text-align: left;
  margin-left: 25px;
  margin-top: 70px;
  font-size: 22px;
  color: #000000;
}

#misi input{
  position: absolute;
  text-align: center;
  margin-left: 25px;
  margin-top: 130px;
  font-size: 20px;
  color: #ffffff;

}


