@font-face {
  font-family: 'aileronblack_italic';
  src: url('../fonts/AileronFontKit/aileron-blackitalic-webfont-webfont.woff2') format('woff2'),
       url('../fonts/AileronFontKit/aileron-blackitalic-webfont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'aileronblack';
  src: url('../fonts/AileronFontKit/aileron-black-webfont-webfont.woff2') format('woff2'),
       url('../fonts/AileronFontKit/aileron-black-webfont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'aileronbold_italic';
  src: url('../fonts/AileronFontKit/aileron-bolditalic-webfont-webfont.woff2') format('woff2'),
       url('../fonts/AileronFontKit/ai leron-bolditalic-webfont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'aileronbold';
  src: url('../fonts/AileronFontKit/aileron-bold-webfont-webfont.woff2') format('woff2'),
       url('../fonts/AileronFontKit/aileron-bold-webfont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'aileronitalic';
  src: url('../fonts/AileronFontKit/aileron-italic-webfont-webfont.woff2') format('woff2'),
       url('../fonts/AileronFontKit/aileron-italic-webfont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'aileronlight_italic';
  src: url('../fonts/AileronFontKit/aileron-lightitalic-webfont-webfont.woff2') format('woff2'),
       url('../fonts/AileronFontKit/aileron-lightitalic-webfont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'aileronlight';
  src: url('../fonts/AileronFontKit/aileron-light-webfont-webfont.woff2') format('woff2'),
       url('../fonts/AileronFontKit/aileron-light-webfont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'aileronregular';
  src: url('../fonts/AileronFontKit/aileron-regular-webfont-webfont.woff2') format('woff2'),
       url('../fonts/AileronFontKit/aileron-regular-webfont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'aileronsemibold_italic';
  src: url('../fonts/AileronFontKit/aileron-semibolditalic-webfont-webfont.woff2') format('woff2'),
       url('../fonts/AileronFontKit/aileron-semibolditalic-webfont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'aileronsemibold';
  src: url('../fonts/AileronFontKit/aileron-semibold-webfont-webfont.woff2') format('woff2'),
       url('../fonts/AileronFontKit/aileron-semibold-webfont-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

#home{
  background:url(https://res.cloudinary.com/dhchnmb6i/image/upload/v1710344249/xhjioegnpxvozjs2gyqd.png);
  background:#ffffff;
  margin:0 ;
  opacity: 100%;
}

*{
  margin: 0;
}

.container {
  max-width: 1366px;
  margin: 0 auto;
}

.titulo{
/* Hola Xaca */
font-family:'aileronregular';
position: absolute;
width: 216px;
height: 16px;
left: 88px;
top: 60px;

font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 40px;
/* or 167% */
display: flex;
align-items: center;
text-transform: capitalize;

color: #000000;
}

.icon{
/* Iconos perfil */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: auto;
height: auto;
left: 880px;
top: 48px;
}

.icon2{
/* Iconos perfil */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
gap: 8px;

position: absolute;
width: auto;
height: auto;
left: 936px;
top: 52px;
}

.items{
  left: 48px;
  display:grid;
  grid-auto-flow:column;
  grid-auto-columns:10%;
  position: absolute;
  margin-left: 24px;
  margin-right: 24px;
  top: 105px;
  column-gap: 20px;
  overflow-x: scroll;
  white-space: nowrap;
}

.items a {
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-align: center;
  text-decoration: none;
}

.items a:hover {
  background-color: #141414;
}

.item-name{
  color: #000000;
  text-align: center;
  margin: auto;
  font-family:'aileronregular';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}

.buscar{
  position: absolute;
  top: 200px;
  left: 940px;
  z-index: 4;
}

.filtrar{
  position: absolute;
  top: 196px;
  left: 60px;
  z-index: 4;
}

.buscador input{
  justify-content: center;
  align-items: center;
  border-radius: 24px;

  text-align: center;
  font-family: 'aileronregular';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;

  left: 48px;
  position: absolute;
  top: 188px;
  height: 40px;
  width: 928px;
  background:#ffefdb;
  z-index: 3;
}

.main{
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12px;
  position: absolute;
  top: 272px;
  left: 68px;
  border-radius: 24px;
  width: 900px;
  height: 900px;
  align-items: center;
  text-align: center;
  background: #eeeeee;
  overflow-y:scroll;
  white-space: nowrap;
}

.main h3{
  text-align: left;
  margin-left: 15px;
  margin-top: 15px;
  font-weight: bold;
  font-style: normal;
  font-size: 36px;
  font-family: 'aileronbold_italic';
}

.main h4{
  text-align: right;
  margin-right: 25px;
  margin-top: 15px;
  font-size: 32px;
  font-style: normal;
  color: #000000;
  font-family: 'aileronlight';

}

div.content{
  top: 50px;
  padding: 10px;
  justify-items: center;
  align-items: center;
  width: 416px;
  height: 280px;
  border-radius: 24px;
  background: #ffffff;
}

div.content img{
  position: relative;
  width: 400px;
  height: 200px;
  border-radius: 24px;
  justify-content: center;
  align-items: center;
}

div.protein img{
  position:relative;
  
  
  top: 5px;
  left: 10px; 
  align-items: center;
  border-radius: 0px;

  width: 14px;
  height: 18px;
}

div.proteintext {
  position:relative;
  display: inherit;
  top: -18px;
  left: 214px;
  font-family:'aileronregular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  width: 60px;
  height: auto;
  
  justify-content: center;
  align-items: center;
  border-radius: 0px;
}

div.carbon img{
  position: relative;
  
  top: -48px;
  left: 82px;
  justify-content: center;
  align-items: center;
  border-radius: 0px;


  width: 28px;
  height: 28px;
}

div.carbontext {
  position: relative;
  font-family:'aileronregular';
  width: 60px;
  height: auto;
  

  top: -69px;
  left: 284px;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
}

div.hidrogen img{
  position: relative  ;
  top: -94px;
  left: 150px;
  justify-content: center;
  align-items: center;
  border-radius: 0px;


  width: 14px;
  height: 18px;
}

div.hidrogentext {
  position: relative;
  font-family:'aileronregular';
  width: 60px;
  height: auto;

  top: -109px;
  left: 356px;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
}

div.fav img {
  position: relative;
  
  top: -75px;
  left: -190px;
  justify-content: center;
  align-items: center;
  border-radius: 0px;

  width: 18px;
  height: 18px;
}

div.time img {
  position: relative;
  top: -154px;
  left: -190px;
  justify-content: center;
  align-items: center;
  border-radius: 0px;

  width: 18px;
  height: 18px;
}

div.timeText {
  position: relative;
  font-family:'aileronregular';
  width: 60px;
  height: auto;

  top: -173px;
  left: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
}

div.carbs img {
  position: relative;
  top: -194px;
  left: -140px;
  justify-content: center;
  align-items: center;
  border-radius: 0px;

  width: 14px;
  height: 18px;
}

div.carbstext {
  position: relative  ;
  font-family:'aileronregular';
  width: 60px;
  height: auto;

  top: -213px;
  left: 78px;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
}

div.plateName {
  position: relative  ;
  font-family: 'aileronbold';
  font-weight: 400;
  font-size: 16px;
  width: 60px;
  height: auto;

  top: -205px;
  left: 20px;
  justify-content: left;
  align-items: center;
  border-radius: 0px;
}

div.content2{
  top: 50px;
  margin-left: 25px;
  margin-top: 70px;
  padding: 10px;
  justify-items: center;
  align-items: center;
  width: 820px;
  height: 220px;
  border-radius: 8px;
  background: #ffffff;
}

div.content2 img{
  position: relative;
  top: 0px;
  
  width: 820px;
  height: 140px;

  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

div.pencilIcon img{
  position:relative;
  
  
  top: 5px;
  left: -400px; 
  border-radius: 0px;

  width: 14px;
  height: 18px;
}

div.pencilText {
  position:relative;
  display: inherit;
  top: -18px;
  left: -330px;
  font-family:'aileronregular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  
  justify-content: center;
  align-items: center;
  border-radius: 0px;
}

div.tittle {
  position:relative;
  display: inherit;
  top: -18px;
  left: -250px;
  font-family:'aileronbold';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  
  justify-content: center;
  align-items: center;
  border-radius: 0px;
}

div.by {
  position:relative;
  display: inherit;
  top: -72px;
  left: 36px;
  font-family:'aileronregular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: #eeac60  ;
  
  justify-content: center;
  align-items: center;
  border-radius: 0px;
}

div.autor {
  position:relative;
  display: inherit;
  top: -97px;
  left: 116px;
  font-family:'aileronregular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  
  justify-content: center;
  align-items: center;
  border-radius: 0px;
}

.main2 h4{
  position: absolute;
  text-align: center;
  margin-right: 25px;
  margin-top: 15px;
  font-size: 40px;
  color: #ffffff;
}

.main2{
  position: absolute;
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 12px;
  left: 68px;
  width: 900px;
  height: 1160px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  background: #eeeeee;
  overflow-y:scroll;
  white-space: nowrap;
}

.main2 h3{
  text-align: left;
  margin-left: 25px;
  margin-top: 25px;
  font-weight: bold;
  font-style: normal;
  font-size: 36px;
  font-family: 'aileronbold_italic';
}

.mainRecipes{
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 12px;
  position: absolute;
  top: 60px;
  left: 68px;
  border-radius: 24px;
  width: 900px;
  height: 1100px;
  align-items: center;
  text-align: center;
  background: #eeeeee;
  overflow-y:scroll;
  
}

div.content3{
  top: 50px;
  padding: 10px;
  justify-items: center;
  align-items: center;
  width: 416px;
  height: 280px;
  border-radius: 24px;
  background: #ffffff;
}
.mainRecipes h4{
  color: #eeeeee;

}
.mainRecipes h3{
  text-align: left;
  margin-left: 15px;
  margin-top: 15px;
  font-weight: bold;
  font-style: normal;
  font-size: 36px;
  font-family: 'aileronbold_italic';
}

div.content3 img{
  position: relative;
  width: 400px;
  height: 200px;
  border-radius: 24px;
  justify-content: center;
  align-items: center;
}


div.protein3  img {
  position:relative;
  
  
  top: 5px;
  left: 10px; 
  align-items: center;
  border-radius: 0px;

  width: 14px;
  height: 18px;
}

div.proteintext3 {
  position:relative;
  display: inherit;
  top: -18px;
  left: 211px;
  font-family:'aileronregular';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  width: 60px;
  height: auto;
  
  justify-content: center;
  align-items: center;
  border-radius: 0px;
}

div.carbon3 img{
  position: relative;
  
  top: -48px;
  left: 82px;
  justify-content: center;
  align-items: center;
  border-radius: 0px;


  width: 28px;
  height: 28px;
}

div.carbontext3 {
  position: relative;
  font-family:'aileronregular';
  width: 60px;
  height: auto;
  

  top: -69px;
  left: 286px;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
}

div.hidrogen3 img{
  position: relative  ;
  top: -94px;
  left: 150px;
  justify-content: center;
  align-items: center;
  border-radius: 0px;


  width: 14px;
  height: 18px;
}

div.hidrogentext3 {
  position: relative;
  font-family:'aileronregular';
  width: 40px;
  height: auto;

  top: -109px;
  left: 364px;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
}

div.fav3 img {
  position: relative;
  
  top: -75px;
  left: -190px;
  justify-content: center;
  align-items: center;
  border-radius: 0px;

  width: 18px;
  height: 18px;
}

div.time3 img {
  position: relative;
  top: -154px;
  left: -190px;
  justify-content: center;
  align-items: center;
  border-radius: 0px;

  width: 18px;
  height: 18px;
}

div.timeText3 {
  position: relative;
  font-family:'aileronregular';
  width: 1;
  height: 1;

  top: -173px;
  left: -170px;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
}

div.carbs3 img {
  position: relative;
  top: -194px;
  left: -140px;
  justify-content: center;
  align-items: center;
  border-radius: 0px;

  width: 14px;
  height: 18px;
}

div.carbstext3 {
  position: relative  ;
  font-family:'aileronregular';
  width: 1;
  height: 1;

  top: -213px;
  left: -102px;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
}

div.plateName3 {
  position: relative  ;
  font-family: 'aileronbold';
  width: 1;
  height: 1;
  font-weight: 400;
  font-size: 16px;

  top: -205px;
  left: -130px;
  justify-content: left;
  align-items: center;
  border-radius: 0px;
}



div.content4{
  top: 100px;
  margin-left: 25px;
  margin-top: 60px;
  padding: 10px;

  justify-items: center;
  align-items: center;
  width: 390px;
  height: 150px;
  border-radius: 8px;
  background: #ffffff;
}

div.content4 img{
  position: relative;
  top: 10px;
  
  width: 390px;
  height: 150px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

.cont2{
  position: absolute;
  top: 30px;
  border-radius: 30px;
}


.menu{
  background:rgb(0, 0, 0);
  position: absolute;
width: 1024px;
height: 140px;
}

.m2{
  top:1226px
}

.menu nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 200px;
  
  position: absolute;
  width: 325px;
  height: 32px;
  left: 30px;
  top: 55px;
}

.menu svg{
  display: flex;
  width: 88px;
  height: 88px;
  top: 120;
}


.back{
  display: flex;
flex-direction: row;
align-items: center;

position: absolute;
width: 32px;
height: 32px;
left: 24px;
top: 62px;
}

.publi{
  display:flex;
  position: fixed;
  top: 1050px;
  left: 820px;
}

.publi svg{
  width: 150px;
  height: 150px;
  
}

.inpu{
  width: 480px;
  background-color: #dddddd;
  
}

#misi{
  position: relative;
  width: 1024px;
  height: 1226px;
  background:rgb(255, 255, 255);
  opacity: 100%;
  
}

#misi h1{
  position: absolute;
  text-align: center;
  margin-left: 36px;
  margin-top: 15px;
  font-size: 40px;
  color: #000000;
}

#misi p{
  position: absolute;
  text-align: left;
  margin-left: 25px;
  margin-top: 70px;
  font-size: 22px;
  color: #000000;
}

#misi input{
  position: absolute;
  text-align: center;
  margin-left: 25px;
  margin-top: 130px;
  font-size: 20px;
  color: #ffffff;

}


