#home{
  width: 375px;
  height: 812px;
  background:url(https://res.cloudinary.com/dhchnmb6i/image/upload/v1710344249/xhjioegnpxvozjs2gyqd.png);
  background:rgb(255, 188, 188);
  margin-top: -8px;
  margin-left: -8px;
  opacity: 100%;
  border-radius:50px;
}
.titulo{
/* Hola Xaca */

position: absolute;
width: 112px;
height: 15px;
left: 23px;
top: 54px;

font-family: 'Tw Cen MT';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 40px;
/* or 167% */
display: flex;
align-items: center;
text-transform: capitalize;

color: #000000;
}
.icon{
/* Iconos perfil */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 8px;

position: absolute;
width: auto;
height: auto;
left: 272px;
top: 60px;
}
.icon2{
/* Iconos perfil */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
gap: 8px;

position: absolute;
width: auto;
height: auto;
left: 321px;
top: 65px;
}
.items{
  display:grid;
  grid-auto-flow:column;
  grid-auto-columns:11%;
  position: relative;
  margin-left: 24px;
  margin-right: 24px;
  top:120px;
  column-gap: 38px;
  overflow-x: scroll;
  white-space: nowrap;
}
.items a {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
}
.items a:hover {
  background-color: #777;
}
.item-name{
  color: #000000;
 text-align: center;
  margin: auto;
  font-family: 'Tw Cen MT';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
}
.buscar{
  position: absolute;
  top: 205px;
  right: 38px;
  z-index: 4;
}
.filtrar{
  position: absolute;
  top: 200px;
  left: 38px;
  z-index: 4;
}
.buscador input{
  justify-content: center;
  align-items: center;
  border-radius: 24px;

  text-align: center;
  font-family: 'Tw Cen MT';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;

  margin-left: 24px;
  position: absolute;
  top: 192px;
  height: 40px;
  width: 320px;
  background:rgb(255, 239, 219);
  z-index: 3;
}
.main{
  position: relative;
  top: 160px;
  left: 24px;
  width: 327px;
  height: 540px;
  text-align: center;
  font-family: 'Tw Cen MT';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  background: #754e4e9f;
  overflow-y:scroll;
  white-space: nowrap;
}
.main h3{
  text-align: left;
}
div.content{
  position: relative;
  margin-top:-18px;
  margin-bottom: 32px;
  justify-items: center;
  align-items: center;
  width: 327px;
  height: 182px;
  border-radius: 8px;
  background: rgb(193, 248, 255);
}
div.content img{
  position: relative;
  top: 4px;
  padding-left: 5px;
  padding-right: 5px;

  width: 318px;
  height: 131px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

.menu{
  background:rgb(0, 0, 0);
  position: absolute;
width: 375px;
height: 77px;
left: calc(50% - 375px/2);
bottom: 0px;
}
.menu nav{
  
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 42px;
  
  position: absolute;
  width: 325px;
  height: 32px;
  left: 25px;
  top: 16px;
}
.menu svg{
  width: 36px;
  height: 36px;
}

#favs{
  width: 375px;
  height: 812px;
  margin-top:-8px;
  margin-left:-8px;
  background:rgb(243, 243, 243);
  opacity: 100%;
  border-radius:50px;
}
.back{
  display: flex;
flex-direction: row;
align-items: center;

position: absolute;
width: 32px;
height: 32px;
left: 24px;
top: 60px;
}
.main2{
  position: relative;
  top: 112px;
  left: 24px;
  width: 327px;
  height: 630px;
  text-align: left;
  font-family: 'Tw Cen MT';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  background: #754e4e9f;
  overflow-y:scroll;
  white-space: nowrap;
}
div.content2{
  display: inline-block;
  position: relative;
  margin-top:-18px;
  margin-bottom: 32px;
  padding-left: 2.2px;
  padding-right: 2.2px;
  width: 156px;
  height: 182px;
  border-radius: 8px;
  background: rgb(193, 248, 255);
}

div.content2 img{
  position: relative;
  top: 2px;
  width: 150px;
  height: 131px;
  padding-left: 2.5px;
  padding-right: 2.5px;

  border-radius: 8px;
}
